.wave-background {
  background-image: url("./images/wave-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 800px;
}

.quiz-card:hover {
  box-shadow: 0 0 2em lightgray;
}

.quiz-card:hover > * > img {
  transform: scale(1.1);
}
